.friend_banner_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 7rem;
  padding: 0;
  background-color: #c9ada7;
  border-radius: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  margin: 0.5rem;
}

.picture_cont img {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 30%;
}
.user_info {
  width: 30%;
}
.user_name {
  font-size: medium;
  font-weight: 700;
}
.car_info {
  font-size: small;
  font-weight: 500;
}
