.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.register_container h2 {
  text-align: center;
}

input {
  margin-top: 1rem;
}

select {
  margin-top: 1rem;
}
